body {
    background: linear-gradient(orange, pink);  
  }

  h1 {
    font: bold 48px/100% Comic Sans MS,Arial,Verdana;
    color: #fffafa;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #333,
                 0.2em 0.5em 0.1em #600;
  } 
  
  #root{
    height: 100vh;
  }