body {
    background: linear-gradient(orange, pink);  
  }

  h1 {
    font: bold 48px/100% Comic Sans MS,Arial,Verdana;
    color: #fffafa;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #333,
                 0.2em 0.5em 0.1em #600;
  } 
  
  #root{
    height: 100vh;
  }

  button{
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  width: 200px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #0D0D0C;
  font:bold 30px/100% Verdana, Tahoma, sans-serif;
  background-color: #d8e6d9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
    
   
  }
  button:hover {background-color: #d8e6d9}

  button:active {
    background-color: #d8e6d9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .icon1{
    position: relative;
    top: 150px;
    bottom: 0;
    right: 0;
    left: 250px;
  }

  .icon2{
    position: relative;
    top: 150px;
    bottom:0 ;
    right: 0;
    left: 680px;